html{
    height: 100%;
    width: 100% ;
}

body{
    background: #f1f3f1;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

#mainBody{
    height: 100%;
    margin: 0em;
}

.converter{
    background: #fefefe;
    margin: auto auto;
    box-shadow: lightgrey 1px 1px 10px 5px;
    padding: 0em 0em;
    padding-bottom: 11em;
    position: relative;
}

#getAppBtn{
    background: #ff2c8f;
    width: max-content;
    position: absolute;
    right: 5%;
    font-size: 0.75em;
    margin: 2.5em 0em;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.app-info{
    margin: 3em auto;
    height: min-content;
    position: relative;
}

.app-title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 0.25em;
}

.app-subtitle{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: gray;
}

.currency-dropdown{
    padding: 0em;
    flex: 0 0 49%;
    max-width: 50%;
}

.currency-dropdown-selected{
    padding: 0em 0em 0.3em 0em !important;
    border-bottom: lightgreen 2px solid;
    cursor: pointer;
}

.currency-name{
    font-size: 0.9em;
}

.currency-inputs .col-md-5{
    padding: 0em;
    flex: 0 0 49%;
    max-width: 50%;
}
.currency-price .col-md-5{
    padding: 0em;
    flex: 0 0 49%;
    max-width: 50%;
}

.currency-detail{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.currency-direction{
    font-size: 0.6em;
    color: gray;
}

.currency-rate {
    padding: 0em 0em;
    margin : 0em 0em !important;
}

.currency-ratechange{
    padding: 0em 0em;
    margin: 0em !important;
}

.currency-rate-details{
    margin: 0em 0em;
}

.currency-rate-title{
    font-size: 0.6em;
    color: gray;
}

.currency-rate .currency-rate-value{
    font-weight: bold;
}

.currency-asset{
    display: flex;
    flex-direction: row;
}

.currency-row{
    width: 60%;
    margin: auto;
    padding: 0em 0em;
    display: flex;
    justify-content: space-between;
}

.currency-image{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}


.currency-dropdown-arrow{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    align-self: center;
    cursor: pointer;
    margin-left: 0.65em;
}

.currency-input{
    width: 100%;
    font-size: 5em;
    padding: 0em;
    border: none;
    caret-color: lightgreen;
}

.currency-input:focus{
    outline: none;
}

.currency-dropdown-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.currency-dropdown-option .detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currency-dropdown-option{
    padding: 0.5em 0.5em;
}

.currency-dropdown-options{
    position: absolute;
    z-index: 1;
    background: white;
    width: inherit;
    padding: 1em 0.75em 1em 0.75em;
    box-shadow: lightgrey 1px 3px 5px 2px;
    display: none;
    max-height: 15em;
    overflow: scroll;
}

.detail .long-name{
    padding-left: 1em;
    font-size: 0.75em;
    font-weight: bold;
}

.detail .currency-image{
    align-self: center;
}

.detail{
    align-items: center;
}

.short{
    align-items: center;
    font-size: 0.8em;
    color: gray;
}